@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  scroll-behavior: smooth;

}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.main {
  height: 100%;
}


.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullPageContainer{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height:100vh;
  width:100%;
}


.downarrow {
  align-self: center;
  position: absolute;
  bottom:0;
  transition: all 0.3s ease 0s;
}

.introContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
}


.downarrow:hover {
  transform: scale(1.25);
  transition: all 0.3s ease 0s;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}

.container:nth-of-type(1){
  background-color: #f78764;
}
.container:nth-of-type(2){
  background-color: #FFFDD0;
}
.container:nth-of-type(3){
  background-color: #b4d6ae;
}

.white-span{
  color:  #FFFDD0;
}



.profile-container {
  width:40%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  align-self: center;
  display: flex;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin: 0;
  color: #231c07;
  text-align: center;
}
.brass{
  color:#695b3a;
}

.description {
  color:#b5a642;
  font-size: 1.3rem;
}

.headshot {
  width:15.5rem;
  height:15.5rem;
  border-radius:50%;
  box-shadow: 5px 10px 0px #695b3a;
  margin-left: 2rem;
}
@media screen and (max-width: 768px) {
  .headshot {
    width:10rem;
    height:10rem;
    margin-left: 0;
    margin-top: 1rem;
  }
}
  




.tech-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
} 
.skill-icon{
  height: 6rem;
  width: 6rem;
  padding-bottom: 6rem;
}
.skill-container{
  position: absolute;
  left:0;
  right:0;
  top: 22rem;
  bottom:0;
  height: 16rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.tech-title {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0;
  color: #231c07;
  text-align: center;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
}

.detail-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .skill-icon{
    height: 4.5rem;
    width: 4.5rem;
  }
  .skill-container{
    gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .skill-container{
    gap: 1rem;
  }
  .headshot{
    width: 12rem;
    height: 12rem;
  }

  
}

.rating-full {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rating-empty {
  filter: grayscale(100%);
}

.rating-bar {
  height: 1rem;
  width: 1.5rem;
  background-color: #f5dc3b;
}

.beach-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  background-color: #F0E7D8;
}
.waves{
  position:relative;
  top: 0;
  width: 100%;
  overflow:hidden;
}


h1{
  font-size: 4rem;
  font-weight: 700;
  line-height: 1
}

.animated-container{
  min-width: 55rem;
  display: inline-block;
}
.animated-text {
  font-weight: 700;
  color: #7F96FF;
  text-decoration: underline;
}

.waves {
  background-image: url('/images/waves-big.svg');
}

@media screen and (max-width: 768px) {
  .animated-container{
    min-width: 0;
  }
  h1{
    font-size: 3.2rem;
    line-height: 1;
  }
  .waves{
    background-image: url('/images/waves-small.svg');
  }
}

button{
  border: none;
  border-radius: 1rem;
  width: 8rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.ease-transition {
  transition: all 0.5s ease-in-out;
}

.disabled-button {
  filter: grayscale(50%) brightness(60%);
  transform: scale(0.9);
  cursor: not-allowed;
  transition: all 0.5s ease-in-out;
}

.enabled-button:hover {
  transform: scale(1.05);
  filter: saturate(2); 
  transition: all 0.2s;
}

.multi-image-container {
  width: 560px;
  height: 280px;
}

.w-bigger {
  width: 110%;
}
.button-pos{
  top: 10%;
  right: 5%;
  width: 18rem;
}

.shark-button-pos{
  top: 1%;
  right: 5%;
  width: 18rem;
}
@media screen and (max-width: 768px) {
  .multi-image-container {
    width: 280px;
    height: 140px;
  }
  .w-bigger{
    width: 130%;
  }
  .button-pos2{
    left:0;
    right:0;
  }
  .shark-button-pos{
    top: 1%;
    right: 10%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .w-bigger{
    width: 80%;
  }
}

.h-most{
  height: 80vh;
}

.menu-clip{
  clip-path: polygon(10% 0%, 30% 100%, 100% 100%, 100% 0%);
}

.animated-logo{
  filter: grayscale(100%);
  transition: all 0.2s ease;
}

.animated-logo:hover{
  filter: grayscale(0%);
  transform: scale(1.3) rotate(20deg);
}

.no-drag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}